
    <div class="footer-bottom-area bg-dark-light section-padding-sm">
        <div class="container">
            <div class="row widgets footer-widgets">
  
                <div class="col-lg-7 col-md-8 col-12">
                    <div class="single-widget widget-about">
                        <div style="display: flex;flex-direction: column;padding-top: 80px;"></div>
                        
                          <p class="address">
                              <span class="icon"><i class="fa fa-map-marker" style="margin-right: 18px;"></i>100 Baria Sreet City, IN.</span>
                              
                          </p>
                          <br>
                          <p class="phone">
                              <span class="icon"><i class="fa fa-phone" style="margin-right: 10px;"></i>
                              <a href="#" style="text-decoration: none;color: white;" >+91 7568 54 3012</a></span>
                          </p>
                          <br>
                          <p class="email">
                              <span class="icon"><i class="fa fa-envelope-o" style="margin-right: 10px;"></i>
                              <a href="#" style="text-decoration: none;color: white;">abc@gmail.com</a></span>
                          </p>
                      
                        </div>
                </div>
  
                
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact" style="margin-bottom: 12px;">
                      <p style="font-size: 15px;margin-bottom: 10px;margin-top: 20px;
                      font-family: 'Poppins', sans-serif;font-weight:bold;padding-top: 55px;">About The Company</p>
                      <p style="font-size: 12px;margin-bottom: 10px;margin-top: 20px;color: silver;
                      font-family: 'Poppins', sans-serif;line-height:1.8;">Lorem Ipsum Lorem Ipsum It was popularised in the 1960s with the release of Letraset sheet Lorem Ipsum passag. Lorem Ipsume containing Lorem Ipsum. </p>
                    </div>
                    <div style="display: flex;">
                      <button class="btn btn-lg btn-outline-secondary" style="margin: 6px;"><i class="fab fa-facebook-f"></i></button>
                    <button class="btn  btn-lg btn-outline-secondary" style="margin: 6px;"><i class="fab fa-twitter"></i></button>
                    <button class="btn  btn-lg btn-outline-secondary" style="margin: 6px;"><i class="fab fa-linkedin-in"></i></button>
                    <button class="btn  btn-lg btn-outline-secondary" style="margin: 6px;"><i class="fab fa-github"></i></button>
                    </div>
                    <br>
                    
                </div>
  
            </div>
        </div>
    </div>
    </body>
    </html>




    ///////////////////////////////////////////////////
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    ////////////////////////////////////////////////////////////////////////////////
    .bg-dark-light {
        background: #323232 !important;
    }
    .bg-theme, .bg-dark, .bg-dark-light, .bg-secondary {
        color: #ffffff;
    }
    .widgets.footer-widgets .widget-title {
        color: #ffffff;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
        letter-spacing: 0.5px;
        position: relative;
        padding-bottom: 15px;
    }
    
    .widgets.footer-widgets .widget-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100px;
        background: #13bfb1;
    }
    .widgets.footer-widgets .widget-quick-links ul {
        margin-top: -4px;
    }
    .widgets.footer-widgets .single-widget ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    
    .widgets.footer-widgets .widget-quick-links ul li {
        display: block;
    }
    .widgets.footer-widgets .widget-quick-links ul li a {
        display: block;
        font-size: 13px;
        color: #ffffff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 9px 0;
    }
    
    .widgets.footer-widgets .single-widget ul li {
        list-style: none;
        font-family: "Raleway", sans-serif;
    }
    .widgets.footer-widgets .widget-contact ul li {
        color: #000;
        font-size: 13px;
        color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .widgets.footer-widgets .widget-contact ul li span {
        font-size: 14px;
        color: #ffffff;
        border: 2px solid #cccccc;
        border-radius: 3px;
        height: 32px;
        width: 32px;
        display: inline-block;
        line-height: 28px;
        text-align: center;
        margin-right: 20px;
    }
    .widgets.footer-widgets .widget-contact ul li.phone, .widgets.footer-widgets .widget-contact ul li.fax {
        font-size: 15px;
    }
    
    .widgets.footer-widgets .widget-contact ul li + li {
        margin-top: 20px;
    }
    //////////////////////////////////////////////////////
    <div class="footer-bottom-area bg-dark-light section-padding-sm">
        <div class="container">
            <div class="row widgets footer-widgets">
  
                <div class="col-lg-7 col-md-8 col-12">
                    <div class="single-widget widget-about">
                        <div style="display: flex;flex-direction: column;padding-top: 80px;"></div>
                        
                          <p class="address">
                              <span class="icon"><i class="fa fa-map-marker" style="margin-right: 18px;"></i>100 Baria Sreet City, IN.</span>
                              
                          </p>
                          <br>
                          <p class="phone">
                              <span class="icon"><i class="fa fa-phone" style="margin-right: 10px;"></i>
                              <a href="#" style="text-decoration: none;color: white;" >+91 7568 54 3012</a></span>
                          </p>
                          <br>
                          <p class="email">
                              <span class="icon"><i class="fa fa-envelope-o" style="margin-right: 10px;"></i>
                              <a href="#" style="text-decoration: none;color: white;">abc@gmail.com</a></span>
                          </p>
                      
                        </div>
                </div>
  
                
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact" style="margin-bottom: 12px;">
                      <p style="font-size: 15px;margin-bottom: 10px;margin-top: 20px;
                      font-family: 'Poppins', sans-serif;font-weight:bold;padding-top: 55px;">About The Company</p>
                      <p style="font-size: 12px;margin-bottom: 10px;margin-top: 20px;color: silver;
                      font-family: 'Poppins', sans-serif;line-height:1.8;">Lorem Ipsum Lorem Ipsum It was popularised in the 1960s with the release of Letraset sheet Lorem Ipsum passag. Lorem Ipsume containing Lorem Ipsum. </p>
                    </div>
                    <div style="display: flex;">
                      <button class="btn btn-lg btn-outline-secondary" style="margin: 6px;"><i class="fab fa-facebook-f"></i></button>
                    <button class="btn  btn-lg btn-outline-secondary" style="margin: 6px;"><i class="fab fa-twitter"></i></button>
                    <button class="btn  btn-lg btn-outline-secondary" style="margin: 6px;"><i class="fab fa-linkedin-in"></i></button>
                    <button class="btn  btn-lg btn-outline-secondary" style="margin: 6px;"><i class="fab fa-github"></i></button>
                    </div>
                    <br>
                    
                </div>
  
            </div>
        </div>
    </div>
  