<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@300;400&family=Mountains+of+Christmas&family=Oswald:wght@300&family=Pacifico&family=Poppins:wght@300;400&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/03bf074d16.js"
      crossorigin="anonymous"
    ></script>
    
    <title>GStore</title>
    <style>
      .bg-dark-light {
    background: #323232 !important;
}
.bg-theme, .bg-dark, .bg-dark-light, .bg-secondary {
    color: #ffffff;
}
.widgets.footer-widgets .widget-title {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    position: relative;
    padding-bottom: 15px;
}

.widgets.footer-widgets .widget-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100px;
    background: #13bfb1;
}
.widgets.footer-widgets .widget-quick-links ul {
    margin-top: -4px;
}
.widgets.footer-widgets .single-widget ul {
    padding-left: 0;
    margin-bottom: 0;
}

.widgets.footer-widgets .widget-quick-links ul li {
    display: block;
}
.widgets.footer-widgets .widget-quick-links ul li a {
    display: block;
    font-size: 13px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 9px 0;
}

.widgets.footer-widgets .single-widget ul li {
    list-style: none;
    font-family: "Raleway", sans-serif;
}
.widgets.footer-widgets .widget-contact ul li {
    color: #000;
    font-size: 13px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.widgets.footer-widgets .widget-contact ul li span {
    font-size: 14px;
    color: #ffffff;
    border: 2px solid #cccccc;
    border-radius: 3px;
    height: 32px;
    width: 32px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    margin-right: 20px;
}
.widgets.footer-widgets .widget-contact ul li.phone, .widgets.footer-widgets .widget-contact ul li.fax {
    font-size: 15px;
}

.widgets.footer-widgets .widget-contact ul li + li {
    margin-top: 20px;
}
     .category{
      transition: transform .2s; 

     }
     .category:hover{
       filter: brightness(70%);
       transform: scale(1.15); 

     }
      a{
        text-decoration: none;
      }
      footer {
        background-color: black;
        color: white;
        height: 200px;
      }
      .coloumn {
        float: left;
        height: 100px;
        padding: 10px;
        padding-top: 40px;
      }
      .first {
        text-align: left;
        padding-left: 20px;
        padding-right: 10px;
        width: 26%;
      }
      .sec {
        padding: 10px;
        padding-top: 40px;
        width: 29%;
        text-align: center;
      }
      .third {
        width: 18%;
      }
      .forth {
        width: 18%;
      }

      .gray {
        filter: grayscale(100%);
        border-radius: 50%;
        margin: 13px;
      }
      .gray:hover {
        filter: none;
      }
      .gray1{
        filter: grayscale(100%);
        margin: 13px;  
      }
      .gray1:hover {
        filter: none;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        transition: 0.3s;
        width: 40%;
      }

      .card:hover {
        top: -4px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }

      .container {
        padding: 2px 16px;
      }

      .up:hover {
        top: -22px;
      }
      * {
        font-family: 'Pacifico', cursive;
        margin: 0;
        padding: 0;
      }
      ul {
        
        list-style: none;
        padding-top: 23px;
      }
      li {
        color: white;
        font-size: 17px;
        margin: 2px 8px;
        float: right;
      }
    </style>
  </head>
  <body>
    ////////////
    <div>
        <ul >
          <li
            style="
              float: left;
              padding-left: 150px;
               ">
            <a href="../" 
               style="text-decoration: none;
                      color: white;
                      font-size: 20px;
                      font-family: 'Pacifico', cursive;">
              GStore</a            >
          </li>
          <li style="padding-right: 120px;padding-left: 0;"><a href="/cart" style="text-decoration: none;
            color: white;
            font-size: 15px;
            font-family: 'Poppins', sans-serif;"><i class="fas fa-shopping-cart"></i></a></li>
          <% if(localStorage.getItem("user_token")){ %>
          <li><a href="/logout" style="text-decoration: none;
            color: white;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;" >Logout</a></li>
          <%}%>
          <li><a href="/allprod"style="text-decoration: none;
                      color: white;
                      font-size: 15px;
                      font-family: 'Poppins', sans-serif;" >Explore</a></li>
          <% if(!localStorage.getItem("user_token")){ %>
          <li><a href="/account" style="text-decoration: none;
            color: white;
            font-size: 15px;
            font-family: 'Poppins', sans-serif;">Sign Up</li></a>
          <%}%>
          <% if(localStorage.getItem("user_token")){%>
            <li><a style="text-decoration: none;
                      color: white;
                      font-size: 16px;
                      font-family: 'Poppins', sans-serif;">Hi!  <%= user_obj.username%></li></a>
          <%}%>
        </ul>
      </div>